.container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    max-width: 900px;
}

.main{
    width: 100%;
}

.projects span:first-child{
    font-size: 1.5rem;
}

.listProjects{
    margin-top: 1.5rem;
}


.listProjects ul{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

.listProjects ul li{
    border-radius: 8px;
    background-color: var(--box);

    padding: 1.5rem;
}

.listProjects ul li a{
    display: flex;
    flex-direction: column;
    gap: 2rem;
}


.listProjects ul li a header{
    display: flex;
    justify-content: space-between;
}

.listProjects ul li a header div, .listProjects ul li a main{
    display: flex;
    align-items: center;
    gap: 1rem;
}

